.parentA{
    background-color: #293F50;
    /* margin-bottom: 7%; */
    width: 60%;
    padding-left: 20%;
    padding-right: 20%;
    display: flex;
    padding-bottom: 2%;
}

.child{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 5%;
}

.style{
    padding-left: 0%;
    padding-right: 50%;
    padding-top: 3%;
    color: white;
    width: 7%;
} 

.date{
    margin-left: 52%;
    color: #648880;
    padding-bottom: 1%;
}

.navbarA{
    margin-left: 40%;
    margin-bottom: 0;
}

.navbarA li{
    display: inline-block;
    margin: 4%;
    text-decoration: none;
    color: white;
}

.navbarA a{
    text-decoration: none;
    color: white;
}

.parentB{
    background: linear-gradient(to right, #a1d3b0, #f6f1d3);
    margin-bottom: 5%;
    width: 60%;
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
    color: #648880;
    padding-bottom: 3%;
}

.reg{
    padding-top: 4%;
    padding-bottom: 2%;
}

.every{
    width: 70%;
    padding-left: 15%;
    
}
.parentC{
    display: flex;
    width: 60%;
    padding-left: 20%;
    padding-right: 20%;
}

.first{
    width: 70%;
}

.purchase{
    margin-bottom: 2%;
}

.pass{
    margin-bottom: 5%;
    color: #648880;
}

.order{
    width: 80%;
}

.why{
    margin-top: 3%;
    margin-bottom: 3%;
}

.listB{
    padding-left: 4%;
    list-style-position: inside;
}

.name{
    margin-bottom: 4%;
}
/* .in{
    padding: 5%;
} */

.option{
    padding: 3%;
    margin-bottom: 4%;

}

.box,
.boxA{
    padding: 3%;
    padding-right: 40%;
    margin-bottom: 10%;
    border-radius: 3px;
    /* border: 1px; */
}

.parentD{
    background-color: #293F50;
    width: 50%;
    padding-left: 20%;
    padding-right: 30%;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    padding-bottom: 3%;
    padding-top: 3%;

}

.text{
    color: #648880;
}

.navbarB ul{
    display: flex;
    justify-content: space-between;
    width: 120%;
}

 .navbarB li{
     text-decoration: none;
     list-style-type: none;
}
 
 .navbarB a{
     text-decoration: none;
     color: white;
}