.parentA{
    background-color: #293F50;
    /* margin-bottom: 7%; */
    width: 60%;
    padding-left: 20%;
    padding-right: 20%;
    display: flex;
    padding-bottom: 2%;
}

.child{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 5%;
}

.style{
    padding-left: 0%;
    padding-right: 50%;
    padding-top: 3%;
    color: white;
    width: 7%;
    font-size: 40px;
    font-weight: lighter;
    line-height: 1;
} 

.date{
    margin-left: 38%;
    color: #648880;
    padding-bottom: 1%;
    font-weight: lighter;
}

.navbarA{
    margin-left: 35.5%;
    margin-bottom: 0;
    font-size: 14px;
}

.navbarA li{
    display: inline-block;
    margin: 4%;
    text-decoration: none;
    color: white;
}

.navbarA a{
    text-decoration: none;
    color: white;
}

.parentB{
    background: linear-gradient(to right, #a1d3b0, #f6f1d3);
    margin-bottom: 5%;
    width: 60%;
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
    color: #648880;
    padding-bottom: 3%;
}

.reg{
    padding-top: 4%;
    padding-bottom: 2%;
    font-weight: lighter;

}

.every{
    width: 88%;
    padding-left: 15%;
    font-weight: lighter;
    line-height: 2;
    
}
.parentC{
    display: flex;
    width: 60%;
    padding-left: 20%;
    padding-right: 20%;
    color: #888888;
}

.first{
    width: 70%;
}

.purchase{
    margin-bottom: 2%;
    font-weight: normal;
    font-size: 20px;
}

.pass{
    margin-bottom: 5%;
    color: #648880;
    font-size: 12px;
}

.order{
    width: 80%;
}

.why{
    margin-top: 3%;
    margin-bottom: 3%;
}

.listB{
    padding-left: 4%;
    list-style-position: inside;
}

.name{
    margin-bottom: 4%;
}

.option{
    padding: 3%;
    margin-bottom: 4%;

}

.box{
    padding: 3%;
    padding-right: 40%;
    margin-bottom: 10%;
}

.boxA{
    padding: 3%;
    padding-right: 40%;
    margin-bottom: 8%;
}

.button{
    font-size: 14px;
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 3%;
    padding-bottom: 3%;
    color: white;
    background-color:#648880;
    border: none;
    border-radius: 5px;
    margin-bottom: 15%;
    /* border-radius: 1px #648880; */

}
.parentD{
    background-color: #293F50;
    width: 50%;
    padding-left: 25%;
    padding-right: 25%;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    padding-bottom: 3%;
    padding-top: 3%;

}

.text{
    color: #648880;
}

.navbarB ul{
    display: flex;
    justify-content: space-between;
    width: 120%;
    font-size: 12px;
}

 .navbarB li{
     text-decoration: none;
     list-style-type: none;
}
 
 .navbarB a{
     text-decoration: none;
     color: white;
}